.task-info {
  padding: 2%;

  .task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 5%;
    padding: 2%;
    background-color: #fff;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    button {
      margin-right: 1%;
    }

    mat-divider {
      margin: 1% 0;
    }
  }
}

.spinner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
